<div style="background-color: #fafafa">
	<%- await include('./header.ejs') %>

	<div
		style="
			margin: 0 auto;
			max-width: 720px;
			padding: 30px 0;
			font-family: Arial;
			color: #3d4e66;
		"
	>
		<h2>Olá <%= username %></h2>
		<p>
			Boa notícia! <%= newFollower %> começou a te seguir. Confira o
			perfil dele:
		</p>
		<p>
			<a
				href="<%= process.env.SITE_DOMAIN%>/user/<%= newFollower %>"
				>Ver perfil</a
			>
		</p>

		<a
			href="<%= process.env.SITE_DOMAIN%>/user/<%= newFollower %>"
			style="
				margin: 0 auto;
				display: block;
				width: 200px;
				height: 200px;
				background-image: url('cid:<%= imageName %>');
				background-size: cover;
				background-position: center;
				border-radius: 5px;
				border: 1px solid #3d4e66;
				overflow: hidden;
				text-align: center;
			"
		></a>
	</div>
	<%- await include('./footer.ejs') %>
</div>
